<div class="footpad">
  <footer>
    <div class="footer-basic-centered">
      <div class="row" style="width:100%">
        <div class="hidden-xs col-sm-2 leftfoot">
          © 2017 La Rama
          <br>
          Design by Mike
        </div>
        <div class="col-xs-12 col-sm-8 represent">
          We Represent All Styles
        </div>
        <div class="hidden-xs col-sm-2 rightfoot">
          <a href="https://www.facebook.com/laramarecords/" class="fa fa-facebook" aria-hidden="true"></a>
          <a href="https://www.instagram.com/laramarecords/" class="fa fa-instagram" aria-hidden="true"></a>
          <a href="https://www.discogs.com/user/LaRamaRecords" class="fa" >
            <img id="discogs" src="https://www.discogs.com/images/brand/discogs-logo.svg">
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
