<% content_for :title do %>Instant-search<% end %>


<div class="container">
  <div class="row filterrow">
    <div class="col-xs-3 col-sm-2 col-md-1 leftpad">
      <div class="filter"><a class="dark">Genre</a></div>
      <!-- <input type="text" id="q" class="form-control" /> -->
    </div>

    <div class="col-xs-3 col-sm-2 col-md-1 leftpad">
      <div id="price"><a class="dark">Price</a></div>
    </div>

    <div class="hidden-xs col-sm-4 col-md-8">

      <div class="priceslide showpanel" id="prices"></div>
    </div>
    <div class="col-xs-3 col-sm-2 col-md-1 leftpad">
      <div class="filter dark" id="temparature_montreal"></div>
    </div>
    <div class="col-xs-3 col-sm-2 col-md-1" id="pager">
      <div  id="hits-per-page-selector"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 filter-drop showpanel" id="facets">
      <div id="genre"></div>

    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 listings">
      <div class="records-display" id="hits"></div>
    </div>
  </div>

  <div class="col-xs-12 hidden-md pages">
    <div class="centered" id="pagination"></div>
  </div>

</div>
