.tracks{
   color: #292c2f;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
      border-left: solid 1px #d4d8e3 !important;
      max-height:350px;
          height: 23vw;
}


.description {
  color: #292c2f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}





.description > p {
  font-size: 1.4vw;
    letter-spacing: -.2px;
}

.description > h1 {
  margin-top: 10px;
  padding-top: 0px;
  margin-bottom: 5px;
      font-size: 1.6vw;
}

.centers{
      margin-top: 10px;
      display: flex;
    flex-direction: row;
    align-items: center;
}


.centering{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 0px 15px
}


.tracktable{
  margin-top:10px;
  width: 100%;
  word-wrap:break-word;
  table-layout: fixed;
  display: block;
  overflow-y: scroll;
  overflow:auto;
  max-height: 35vh;
}


.add{
  padding-left: 5px;
  padding-right:0px;
}

.add > form{
  float:right;
}

.money{

  font-size:1.8em;
  padding-left:0px;
  padding-right:0px;
}



.btn-cool:hover {
  opacity: 1;
  text-decoration: none;
  color: #646464;
}


.zoomrecord{
  padding-left:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:0px;
}


.showpanel{
    background-color: #e9eae7;
    border: solid 1px #d4d8e3 !important;
    border-radius: 4px;
    /* padding: 7px 16px 7px 16px; */
    -webkit-box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2) !important;
    box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2) !important;
}


tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
   font-size:1.5vw;
}

table {
  text-size: 1.5em;
  width: 100%;
  // border-collapse: collapse;
  th, td {
  border-bottom: solid 1px #d4d8e3 !important;
  border-top: solid 1px #d4d8e3 !important;
  padding: 0px;
  }
  tr:nth-child(even) {
    background-color: #77777;
  }
}

table td {
  padding:0px;
  padding-right: 10px;
}

td {

    display: table-cell;
    vertical-align: inherit;
}



.btn-cool {
    /* color: #646464; */
    /* border: 1px solid #999999; */
    /* padding: 10px 15px; */
    /* border-radius: 50px; */
    /* font-weight: lighter; */
    color: #333333;
    opacity: 0.9;
    border: solid 1px #d4d8e3 !important;
    border-radius: 4px;
    padding: 7px 7px 7px 7px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2) !important;
    box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2) !important;
    background-color: white;
}












@media (min-width:401px) and (max-width:767px){

 .description > h1 {
    font-size: 2vw;
    }

      .description > p {
    font-size: 1.8vw;
    letter-spacing: -.2px;
  }

   tr{
        display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    font-size: 1.8vw;
  }

  .money{
    font-size: 3vw;
  }

  .btn {

    padding: 6px 12px;
    font-size: 2vw;
    }


}


@media (max-width: 400px){

 .description {
      text-align: center;
      padding: 0px;
      justify-content: center;
      align-items: center;
      }

    .description > h1 {
    font-size: 1.5em;
    }

      .description > p {
    font-size: 1em;
  }
    .tracks{
      border-left: none;
      height: auto;
    }
 tr{
        display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    font-size: 1em;
  }

}
