// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "bootstrap-datepicker";
@import "youtube";
@import "algolia";
@import "mediascreen";

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  1%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  5% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
.jump {
  transform-origin: 10% 10%;
  animation: jump 1s linear alternate infinite;
}





// LAYOUT
.main {
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top:5em;
}

body {

  background-color: white;
}

#main-wrapper {
      min-height: 700px;
}

.container {

padding-left: 10px;
padding-right: 10px;

}

.container2 {
  margin-top: 5em;
        padding-top: 2vh;
        padding-bottom: 2vh;
      padding-left: 10vw;
    padding-right: 10vw;
}

.banner {
  border-radius: 10px;
  margin: 2em;
  border-style: solid;
  border-width: 2px;
  border-color: mintcream;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.cut {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.tracks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom:10px; height:35vh
}

.listings{
  padding:0px;
}

.zoomrecord{
  margin-left:0px;
  margin-right:0px;
  margin-top:5px;
  margin-bottom:0px;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.centers{
      display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

 .filterrow{
display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }


.leftpad{
  padding-left:0px;
}
// TABLES

.tracktable{
  margin-top:21px;
  width: 100%;
  word-wrap:break-word;
  table-layout: fixed;
  display: block;
  overflow-y: scroll;
  overflow:auto;
  height: 30vh;
}


tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
   font-size:1em;
}

table {
  text-size: 1.5em;
  width: 100%;
  // border-collapse: collapse;
  th, td {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  padding: 0px;
  }
  tr:nth-child(even) {
    background-color: #77777;
  }
}

table td {
  padding:0px;
  padding-right: 10px;
}

td {

    display: table-cell;
    vertical-align: inherit;
}




// TEXT
h1 {
  font-size: 1.5em;
}

p {
  margin: 0 0 2px;
}

.curls {
  font-family:'Damion', 'cursive'
}

a{
  color:#e9eae7;
}

a:active {
  color:#ffee36;
}

a:hover {
  color: #388697;
  text-decoration: none;
}

.dark{
  color:#626262;
}

.type {
  font-size: 1.2em;
}

.money{
  font-size:40px;
  padding-left:0px
}

.yells {
  color:#ffee36;
  font-family:'Damion', 'cursive';
  height: 20px;
  width: 100%;
   opacity:1;
   font-size: 1em;
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-end;
}

.btn-cool {
  color: #646464;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-cool:hover {
  opacity: 1;
  text-decoration: none;
  color: #646464;
}


.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.tagline {
  font-size:1.6em ; margin-top: .5em; font-family:'Damion', 'cursive';
}








.spin{
  border-radius: 50%;
  -webkit-transition: -webkit-transform .7s ease-in-out;
          transition:         transform .7s ease-in-out;
}
.spin:hover {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}



.tip {
  padding-top: 1vh;
}




// LINKS

.filter {
  font-size: 14px;
  display: flex;
   flex-direction: row;
   justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  a,  #temparature_montreal {
    border: solid 1px #d4d8e3!important;
  border-radius: 4px;
  padding: 7px 16px 7px 16px;
  box-shadow: 0 1px 1px 0 rgba(85,95,110,.2)!important;
  }
}





// DROPDOWNS

.dropdown-content {
  width:30vw; height:30vh;
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 3vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px ;
    text-decoration: none;
    display: block;
}

.dropdown2 {
  background-color: #353c34;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1; border-radius:5px;}
.dropdown-content a:active {background-color: #f1f1f1; border-radius:5px; color:#ffee36}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.filter-drop {
  display: none;
  padding: 0px;
}

.search-drop {
  display:none;
}



.pager {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list-group-item {
    position: relative;
    display: inline-block;
    // margin-left: 10px;
    // margin-right: 10px;

    margin-bottom: 0px;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    width: 18%;
}

.badge {
    position: relative;
   top: 0px;
    right: 0px;
    font-size: .8em;
    color: #ffea36;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* height: 18px; */
    /* width: 18px; */
    text-align: center;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    /* border-radius: 50%; */
}


.form-control:focus {
    border-color: #ffea36;
    color: #e9eae7;
}

.form-control {
    display: block;
    width: 80%;
    height: 36px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4;
    color: white;
    background-color: #333333;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

// INSTANTSEARCH??


.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search {
  width: 100%;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 12px 28px 12px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}
.aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
}
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }


.search-terms {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
}

.hit-auto-complete {
  em {
    font-weight: bold;
    font-style: normal;
  }

  .email {
    font-size: 0.9em;
  }

  .company {
    text-align: right;
    font-size: 0.8em;
    color: #999;
  }
}

.hit-instant-search {
  border: 1px solid #EFEFEF;
  margin-bottom: 10px;
  padding: 10px 20px;

  em {
    font-weight: bold;
    font-style: normal;
  }

  .name {
    font-size: 20px;
  }

  .year {
    font-size: 20px;
  }

  .created_at {
    float: right;
    color: green;
    font-size: 0.6em;
  }

  .company {
    float: right;
    color: #999;
  }
}





.records-display {

  border-radius: 5px;
  padding-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:-5px;
    margin-right:-5px;
  .card {

    margin: 0px;

    padding: 0px;
    min-height: 250px;
    max-width: 250px;
    background-size: cover;
    background-image: "https://static.pexels.com/photos/242236/pexels-photo-242236.jpeg";
      overflow: hidden;
  text-overflow: ellipsis;
  }
  a, a p, a h2 {
    &:hover {
      text-decoration: none;
      width:110%;
      height:110;
    }
  }
  p {
    font-weight: bold;
    color: #646464;
    font-size: 0.5em;
    margin-bottom: 0em;
  }
  h2 {
    font-style: italic;
    color: #626262;
    font-size: 0.5em;
    margin: 0 0 1.0em 0;
  }
}


.seletak {
  position: relative;
  height:175px;
  width:175px;
}


.infoo {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:30px;
}


.disc{
  padding-left: 5px;
  padding-right: 5px
}





.dat{
  float: right;
  font-size: 1.2em;
}





.recom {
  width:100%;
  padding: 10px;
  margin: 0px
}



.cart-list {
  .photo {

      max-width: 100%;
        height: 100px;
  }
  .details {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

  }
}


.just {
  display: flex;
  flex-direction: row;
}


.sidebar {
  color:black;
  font-size: 1.5em;
  padding-left:0px;
  padding:10px;
  text-align: center
}

.sidebar a:hover{
  color: yellow;
}

.inder {
  background-color: white ;

}

.inder a {
  color: #ffee36;
}

.logoo {
  height: 10vh;
  width: 200px;
  padding: 10px;
  border-radius:5px;

}


#pager {   display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0px;
  }

 #map {
  height:300px;
  width: 100%;
 }


.paginate a{
  color:black;
}






// IMG
/* Style the Image Used to Trigger the Modal */
img {

  border-radius: 2px;
}


.bigimg {
  height: 25vh;
  width: 100%;
}

.myImg {
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 5px #999999;
    height: 100%;
    width: 100%;
}

.myImg:hover {opacity: 0.7;}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-color: #252729;
    border-radius:5px;
}

.seletak:hover .overlay {
  opacity: .7;
}

.seletak:hover .overlay2 {
  opacity: .9;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-color: #252729;
  border-radius: 2px;
}



.snapwidget-widget{
  border-radius: 3px;
  overflow:hidden;
  width:100%;
  height:300px;
}





@media screen and (max-width: 778px) {
    .modal-content {
        width: 100%;
    }
    .main{
          margin-top: 5em;
          padding-left: 5vw;
          padding-right: 5vw;
    }
    .categories {
      width: 100%;
      height: 30vh;
    }
    .seletak {
      width: 150px;
      height: 150px;
    }

    .zoomrecord{
      padding: 0px;
    }


    .list-group-item {
    width: 50%;
    padding: 5px 0px;
  }
}




.scroll-left {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}







